$categorias: "hamburguesa", "hot-dog", "alitas", "otros", "agotado";
$i: 0;

.products-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 25px;
    @include minWidth(469){
        grid-template-columns: repeat(2, 1fr);
    }
    @include minWidth(768){
        grid-template-columns: repeat(3, 1fr);
    }
    @include minWidth(1200){
        grid-template-columns: repeat(4, 1fr);
    }
    
}

.product-item{
    box-shadow: 0 0 1rem rgba(var(--darkColor), 0.12);
    border: 0.1rem solid rgba(var(--darkColor), 0.08);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @each $cat in $categorias{
        &.#{$cat}{
            order: $i;
        }
        $i: $i + 1;
    }
    &.agotado{
        pointer-events: none;
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 1;
            backdrop-filter: grayscale(1);
        }
        .product-img{
            &:after{
                content: "Agotado";
                position: absolute;
                transform: rotate(45deg) translate(-40%, 90%);
                top: 50%;
                left: 50%;
                z-index: 10;
                color: red;
                font-weight: 900;
                font-size: 35px;
                background-color: rgb(var(--darkColor));
                padding: 10px 20px;
            }
        }
    }
   
    .product-img{
        overflow: hidden;
        height: 25rem;
        position: relative;
        @include minWidth(1200){
            height: 30rem;
        }
        &:hover img{
            transform: scale(1.2) rotate(5deg);
        }
    }
    img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
        transition: 0.2s;
    }
    .product-body{
        padding: 2rem;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    h3{
        margin-top: 0;
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(var(--darkColor), 0.12);
        font-size: 2.2rem;
        text-align: center;
    }
    .product-price{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 1.5rem 1rem;
        background-color: rgba(var(--darkColor), 0.6);
        color: rgb(var(--yellowColor));
        font-weight: 900;
        font-size: 24px;
        pointer-events: none;
    }
    .product-description{
        font-size: 1.8rem;
        line-height: 1.5;
        text-align: center;
        margin-top: 0;
    }
    .product-btn{
        @extend %btn;
        max-width: 20rem;
    }
}